{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<script type="text/javascript">
function showLoading() {
    document.getElementById('loading').style.display = "block";
    document.results.submit();
    return true
}
</script>
{% endblock %}

{% block content %}
<div class="header">
    <div class="container">
        <div id="menu">
            <ul id="menubar">
                <li><a href="{% url 'index' %}">HOME</a></li>
                {% if user %}
                    <li><a href="{% url 'pipeline' %}">PIPELINES</a></li>
                {% else %}
                    <li><a href="{% url 'pipeline' %}" class="disabled"><span style="text-decoration: line-through;">PIPELINES</span></a></li>
                {% endif %}
                <li><a href="{% url 'readme' %}">README</a></li>
                <div id="smenubar">
                    {% if user %}
                        <li>
                            <b>
                                <small style="color:rgb(136,162,175); font-size:9pt;">
                                    Logged in as:
                                    <span style="color:rgb(255,100,0);">
                                        {{ user }}
                                    </span>
                                </small>
                            </b>
                        </li>
                        <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                        {% if super %}
                            <li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
                            <li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
                            <li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
                            <li><a href="{% url 'signup' %}">SIGN UP</a></li>
                        {% endif %}
                    {% else %}
                        <li><a href="{% url 'login' %}">LOGIN</a></li>
                    {% endif %}
                </div>
            </ul>
        </div>
    </div>
</div>
<div class="container" style="margin-top:100px">
    {% if user %}
    <div id="welcome">
        <h2>Welcome back <span style="color:rgb(255,100,0)">{{ user }}</span>,</h2>
        <p>
            Please select <a href="{% url 'pipeline' %}">PIPELINE</a> to start using the Nanopore analysis tools/pipeline.
            For more information about the tools and pipeline, please select <a href="{% url 'readme' %}">README</a>.
            <b>Your personal folder is /media/Nanopore/{{ user }}</b>. If you do not see your personal folder please make sure you have access to the
            network drive and that your personal folder is created and your data is synchronized.
        </p>
        <h2>Your network folder is <span style="color:rgb(255,100,0);">/media/Nanopore/{{ user }}</span></h2>
    </div>
    <br>
    <br>
    <br>
    <br>
    Select the results to view:<br>
    <table class="table-view" style="border:0px;">
        <tr>
            <td>
                <form action="{% url 'results' %}" method="post" name="results" enctype="multipart/form-data">
                    <input type="hidden" id="username" name="username" value="{{ user }}">
                    <select id="resultname" name="resultname" class="ddmenu">
                        <optgroup label="Select results to view">
                            <option value="none" selected >Select result</option>
                        {% for r in results %}
                            <option value="{{r}}">{{r}}</option>
                        {% endfor %}
                        </optgroup>
                    </select>
                </form>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <div class="tab">
                    <button class="runbutton" onclick="return showLoading()">VIEW RESULTS</button>
                </div>
            </td>
        </tr>
    </table>

    <br>
    <div id="loading" style="display:none;">
        <img id="loadingImage" src="{% static 'img/loading.gif' %}" width="25%" height="25%">
    </div>
    {% else %}
    <div id="welcome">
        <h2>Welcome <span style="color:rgb(255,100,0);">guest</span>,</h2>
        <p>
            Please login to start using the Nanopore pipelines. If you do not have an account please SIGN UP to start using the Nanopore pipelines.<br>
            For more information about the pipelines and tool used within these pipelines select <a href="{% url 'readme' %}">README</a>.
        </p>
    </div>
    {% endif %}
</div>
{% endblock %}