{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<script type="text/javascript">
function showLoading() {
    document.getElementById('loading').style.display = "block";
    document.getElementById('pipeline-form').style.display = "none";
    document.run.submit();
    return true
}
</script>
<script>
function showMiniasm(){
    document.getElementById('mincontig').style.visibility ='visible';
    document.getElementById('genomesize').style.visibility ='collapse';
    document.getElementById('circreads').style.visibility ='visible';
    document.getElementById('flyeopt').style.visibility ='collapse';
}
function showFlye(){
    document.getElementById('mincontig').style.visibility = 'collapse';
    document.getElementById('genomesize').style.visibility ='visible';
    document.getElementById('circreads').style.visibility ='collapse';
    document.getElementById('flyeopt').style.visibility ='visible';
}
// function showBlast(){
//     var checkBox = document.getElementById("blast");
//     if (checkBox.checked == true){
//         document.getElementById('blastheader').style.visibility = 'visible';
//         document.getElementById('blastdatabase').style.visibility ='visible';
//         document.getElementById('blasttaskset').style.visibility ='visible';
//     } else {
//         document.getElementById('blastheader').style.visibility = 'visible';
//         document.getElementById('blastdatabase').style.visibility ='visible';
//         document.getElementById('blasttaskset').style.visibility ='visible';
//     }
// }
function showResfinder(){
    var checkBox = document.getElementById("res");
    if (checkBox.checked == true){
        document.getElementById('resheader').style.visibility = 'visible';
        document.getElementById('resdatabase').style.visibility ='visible';
        document.getElementById('resthreshold').style.visibility ='visible';
        document.getElementById('reslengthset').style.visibility ='visible';
    } else {
        document.getElementById('resheader').style.visibility = 'collapse';
        document.getElementById('resdatabase').style.visibility ='collapse';
        document.getElementById('resthreshold').style.visibility ='collapse';
        document.getElementById('reslengthset').style.visibility ='collapse';
    }
}
</script>
{% endblock %}

{% block content %}
<div class="header">
    <div class="container">
        <div id="menu">
            <ul id="menubar">
                <li><a href="{% url 'index' %}">HOME</a></li>
                {% if user %}
                    <li><a href="{% url 'pipeline' %}">PIPELINES</a></li>
                {% else %}
                    <li><a href="{% url 'pipeline' %}" class="disabled"><span style="text-decoration: line-through;">PIPELINES</span></a></li>
                {% endif %}
                <li><a href="{% url 'delete' %}">DELETE</a></li>
                <li><a href="{% url 'readme' %}">README</a></li>
                <div id="smenubar">
                    {% if user %}
                        <li>
                            <b><small style="color:rgb(136,162,175); font-size:9pt;">Logged in as: <span style="color:rgb(255,100,0);">{{ user }}</span></small></b>
                        </li>
                        <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                        {% if super %}
                            <li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
                            <li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
                            <li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
                            <li><a href="{% url 'signup' %}">SIGN UP</a></li>
                        {% endif %}
                    {% else %}
                        <li><a href="{% url 'login' %}">LOGIN</a></li>
                    {% endif %}
                </div>
            </ul>
        </div>
    </div>
</div>
<div class="container" style="margin-top:100px">
    <div id="pipeline-form" style="display:block;">
        <div id="inputs">
            <form action="{% url 'createresults' %}" method="post" name="run" enctype="multipart/form-data">
                <span style="color:red">*</span> = required fields <br><br>
                <table class="table">
                    <tr>
                        <td>
                            <b style="color: rgb(255,100,0)">Input/Output</b>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            Select folder with fastq or fasta file(s)<span style="color:red">*</span>
                        </td>
                        <td>
                            <select id="inputfolder" name="inputfolder" class="ddmenu">
                                <optgroup label="folders">
                                {% for folder in folders %}
                                    <option value="{{ folder }}">{{ folder }}</option>
                                {% endfor %}
                                </optgroup>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Enter output folder name<span style="color:red">*</span>
                        </td>
                        <td>
                            <input type="text" name="outfolder" id="outfolder" placeholder="Enter output folder" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b style="color: rgb(255,100,0)">Assembler Selection</b>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Select assembler:</td>
                        <td>
                            <input type="radio" name="assembler" id="assembler" value='miniasm' onclick="showMiniasm();">&nbsp;<label>Miniasm &nbsp;&nbsp;&nbsp;</label>
                            <input type="radio" name="assembler" id="assembler" value='flye' onclick="showFlye();">&nbsp;<label>Flye &nbsp;&nbsp;&nbsp;</label>
                        </td>
                    </tr>
                    <tr id="circreads" style="visibility: collapse;">
                        <td>Circularise reads?</td>
                        <td>
                            <input type="checkbox" name="circularise" id="circularise" value="1">
                        </td>
                    </tr>
                    <tr id="mincontig" style="visibility: collapse;">
                        <td>Remove contigs smaller than</td>
                        <td>
                            <input type="text" id="min-contig" name="min-contig" placeholder="15000">
                        </td>
                    </tr>
                    <tr id="genomesize" style="visibility: collapse;">
                        <td>
                            Enter the genome size <span style="color:red">*</span><br><br>
                            <b>*</b> The genome size should be your best guess of the haploid genome size of what is being
                            assembled.  It is used primarily to estimate coverage in reads, NOT as the desired
                            assembly size.  Fractional values are allowed: '4.7m' equals '4700k' equals '4700000'
                        </td>
                        <td>
                            <input type="text" name="gsize" id="gsize" placeholder="Enter genome size i.e. 4.7m or 4700k or 4700000" required>
                        </td>
                    </tr>
                    <tr id="flyeopt" style="visibility:collapse;">
                        <td>Select options</td>
                        <td>
                            <input type="checkbox" name="flyeplasmid" id="flyeplasmid" value='--plasmid '>&nbsp;<label>--plasmid &nbsp;&nbsp;&nbsp;</label>
                            <input type="checkbox" name="flyemeta" id="flyemeta" value='--meta '>&nbsp;<label>--meta &nbsp;&nbsp;&nbsp;</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b style="color: rgb(255,100,0)">Analysis Tools Selection</b>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            Please select which tools to run.
                        </td>
                        <td>
                            <input type="hidden" required>
                            <div id="plasmids" class="tabcontent" style="display:block;">
                                <input type="checkbox" name="blast" id="blast" value='-b ' checked disabled>&nbsp;<label>BLAST &nbsp;&nbsp;&nbsp;</label>
                                <input type="checkbox" name="res" id="res" value='-r ' onclick="showResfinder()">&nbsp;<label>resFinder &nbsp;&nbsp;&nbsp;</label>
                            </div>
                        </td>
                    </tr>
                    <tr id="blastheader" style="visibility: visible;">
                        <td>
                            <b>BLAST Settings</b>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr id="blastdatabase" style="visibility: visible;">
                        <td>
                            Select a BLAST database:
                        </td>
                        <td>
                            <select id="blastdb" name="blastdb" class="ddmenu">
                                <optgroup label="Remote BLAST Databases">
                                    <option value="nt -remote">Remote NT Database</option>
                                    <option value="nr -remote">Remote NR Database</option>
                                </optgroup>
                                <optgroup label="Local BLAST Databases">
                                    <option value="{{drive}}plasmidb/plasmidb" selected>Local Plasmid Database</option>
                                    <option value="{{drive}}blastdb/nt">Local NT Database</option>
                                    <option value="{{drive}}blastdb/nr">Local NR Database</option>
                                </optgroup>
                            </select>
                        </td>
                    </tr>
                    <tr id="blasttaskset" style="visibility: visible;">
                        <td>Select BLAST task</td>
                        <td>
                            <input type="radio" name="blasttask" id="blasttask" value='megablast' checked="checked">&nbsp;<label>megablast &nbsp;&nbsp;&nbsp;</label>
                            <input type="radio" name="blasttask" id="blasttask" value='blastn'>&nbsp;<label>blastn &nbsp;&nbsp;&nbsp;</label>
                        </td>
                    </tr>
                    <tr id="resheader" style="visibility: collapse;">
                        <td>
                            <b>ResFinder Settings</b>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr id="resdatabase" style="visibility: collapse;">
                        <td>Select a database to search for specific resistance genes or select all databases</td>
                        <td>
                            <select id="resdb" name="resdb" class="ddmenu">
                                <optgroup label="Select ResFinder Database">
                                    <option value="all">all databases</option>
                                    {% for db in resdb %}
                                        <option value="{{ db }}">{{ db }}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </td>
                    </tr>
                    <tr id="resthreshold" style="visibility: collapse;">
                        <td>The threshold for % identity</td>
                        <td>
                            <select id="residentity" name="residentity" class="ddmenu">
                                <optgroup label="Identity threshold">
                                    <option value="80.00">80%</option>
                                    <option value="85.00">85%</option>
                                    <option value="90.00">90%</option>
                                    <option value="95.00">95%</option>
                                    <option value="100.00">100%</option>
                                </optgroup>
                            </select>
                        </td>
                    </tr>
                    <tr id="reslengthset" style="visibility: collapse;">
                        <td>The minimum length of the overlap ex 0.60 for an overlap of minimum 60 %</td>
                        <td>
                             <select id="reslength" name="reslength" class="ddmenu">
                                 <optgroup label="Minimum length">
                                     <option value="0.60">60%</option>
                                     <option value="0.70">70%</option>
                                     <option value="0.80">80%</option>
                                     <option value="0.90">90%</option>
                                     <option value="1.00">100%</option>
                                 </optgroup>
                            </select>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <br />
        <div class="tab">
            <button class="runbutton" onclick="return showLoading()">RUN</button>
        </div>
    </div>
    <br>
    <div id="loading" style="display:none;">
        <h3>Running...</h3>
    </div>
</div>
{% endblock %}
